<% back_url = amaterasu_wizzard_index_path %>
<% address_info = Struct.new(:name).new %>

<%= turbo_frame_tag 'wizzard' do %>
  <%= form_with model: address_info, scope: :user, url: amaterasu_wizzard_names_path, method: :post do |form| %>
    <h2 class="p-4 px-2">Enter your name</h2>

    <div class="flex flex-col mb-4">
      <%= form.label :name, "name:" %>
      <%= form.text_field :name, value: session[:name] %>
    </div>

    <div class="flex justify-between">
      <%= link_to "Back", back_url, class: 'inline-block text-md btn btn-sidebar', data: { turbo: false } %>
      <%= form.submit "Next", class: 'btn btn-primary bg-blue-500' %>
    </div>
  <% end %>
<% end %>
